.git
.github
.idea
.vscode
node_modules
vendor
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
npm-debug.log
yarn-error.log
.env
.env.*
!.env.example
!.env.production.example
storage/backups
Dockerfile
docker-compose*.yml
.dockerignore
README.md
tests/coverage
